* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:#0B2434;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}
main{
    width:800px;
    height:500px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.die-face{
    width:100px;
    height:100px;
    background-color: white;
    box-shadow: 0px 2px 2px 0px #00000026;
    border-radius:.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.true{
    background-color: #59E391;
}
.die-value{
    font-size: 70px;
}

.die-all{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr); 
    gap: 1rem;
}

.roll-dice {
    height: 80px;
    width: 180px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}